[Unit]
Description=dokku-event-listener process
PartOf=dokku-event-listener.target

[Service]
WorkingDirectory=/
Environment=PS=dokku-event-listener
EnvironmentFile=-/etc/default/dokku-event-listener
EnvironmentFile=-/etc/sysconfig/dokku-event-listener
ExecStart=/usr/bin/dokku-event-listener
Restart=always
RestartSec=10s
StandardInput=null
SyslogIdentifier=%n
KillMode=mixed
TimeoutStopSec=5
